USE [IFSDEV-ManualUpload]
GO
DELETE FROM [dbo].[NewROUTING$]
WHERE [PART_NO] = '55645-LB'
GO
DELETE FROM [dbo].[NewROUTING$]
WHERE [PART_NO] = '55645-FT'
GO

TRUNCATE TABLE [RoutingOperation]
GO 
INSERT INTO [dbo].[RoutingOperation]
           ([PART_NO]
           ,[CONTRACT]
           ,[ROUTING_REVISION]
           ,[ALTERNATIVE_NO]
           ,[BOM_TYPE_DB]
           ,[OPERATION_NO]
           ,[RUN_TIME_CODE_DB]
           ,[LABOR_CLASS_NO]
           ,[LABOR_RUN_FACTOR]
           ,[LABOR_SETUP_TIME]
           ,[MACH_RUN_FACTOR]
           ,[MACH_SETUP_TIME]
           ,[OPERATION_DESCRIPTION]
           ,[OUTSIDE_OP_ITEM]
           ,[DEFAULT_BUY_UNIT_MEAS_MAP]
           ,[WORK_CENTER_NO]
           ,[DEPARTMENT_NO]
           ,[MACHINE_NO]
           ,[CREW_SIZE]
           ,[LOT_QTY]
           ,[PARALLEL_OPERATION_DB]
           ,[MOVE_TIME]
           ,[NOTE_TEXT]
           ,[EFFICIENCY_FACTOR]
           ,[ROUTING_QUEUE]
           ,[OUTSIDE_OP_SUPPLY_TYPE_DB]
           ,[OUTSIDE_OP_BACKFLUSH_DB]
           ,[OVERLAP]
           ,[OVERLAP_UNIT_DB]
           ,[SETUP_CREW_SIZE]
           ,[SETUP_LABOR_CLASS_NO])
SELECT [PART_NO]      
      ,[Site] [CONTRACT]
	  ,1 [ROUTING_REVISION]
	  ,'*' [ALTERNATIVE_NO]
	  ,'M' [BOM_TYPE_DB]
	  ,'10' [OPERATION_NO]
	  ,'2' [RUN_TIME_CODE_DB]
	  ,[Labor Class No]
      ,[Labor Run Factor]
      ,'0' [Labor Setup Time]
      ,[Mach Run Factor]
      ,'0' [Mach Setup Time]
      ,[Operation Desc]
	  ,'' [OUTSIDE_OP_ITEM]
      ,'' [DEFAULT_BUY_UNIT_MEAS_MAP]
      ,[Work Center]
	  ,'' [Department]      
	  ,'' [MACHINE_NO]
      ,[Crew Size]
	  ,0 [LOT_QTY]
	  ,'N' [PARALLEL_OPERATION_DB]
	  ,'' [MOVE_TIME]
	  ,'' [NOTE_TEXT]
	  ,'100' [EFFICIENCY_FACTOR]
	  ,'' [ROUTING_QUEUE]
	  ,'' [OUTSIDE_OP_SUPPLY_TYPE_DB]
	  ,'' [OUTSIDE_OP_BACKFLUSH_DB]
	  ,'' [OVERLAP]
	  ,'' [OVERLAP_UNIT_DB]
      ,[Setup Crew Time]
	  ,[Labor Class No]
  FROM [IFSDEV-ManualUpload].[dbo].[NewROUTING$]
  WHERE [Labor Run Factor] IS NOT NULL

UNION ALL
SELECT [PART_NO]    
      ,ipt.[Site] [CONTRACT]
	  ,1 [ROUTING_REVISION]
	  ,'WITH OPTION' [ALTERNATIVE_NO]
	  ,'M' [BOM_TYPE_DB]
	  ,rtt.[Operation No] [OPERATION_NO]
	  ,'2' [RUN_TIME_CODE_DB]
	  ,rtt.[Labor Class No]
      ,rtt.[Labor Run Factor]
      ,rtt.[Labor Setup Time]
      ,rtt.[Mach Run Factor]
      ,rtt.[Mach Setup Time]
      ,rtt.[Operation Desc]
	  ,'' [OUTSIDE_OP_ITEM]
      ,'' [DEFAULT_BUY_UNIT_MEAS_MAP]
      ,rtt.[Work Center]
	  ,'' [Department]      
	  ,'' [MACHINE_NO]
      ,rtt.[Crew Size]
	  ,0 [LOT_QTY]
	  ,'N' [PARALLEL_OPERATION_DB]
	  ,'' [MOVE_TIME]
	  ,'' [NOTE_TEXT]
	  ,'100' [EFFICIENCY_FACTOR]
	  ,'' [ROUTING_QUEUE]
	  ,'' [OUTSIDE_OP_SUPPLY_TYPE_DB]
	  ,'' [OUTSIDE_OP_BACKFLUSH_DB]
	  ,'' [OVERLAP]
	  ,'' [OVERLAP_UNIT_DB]
      ,rtt.[Setup Crew Time]
	  ,rtt.[Labor Class No]
  FROM [dbo].[NewROUTING$] ipt,
       [dbo].[NewROUTINGwithoption$] rtt 
  WHERE  (rtt.[Planner] LIKE '%'+ipt.[PLANNER_BUYER ]+'%')

  GO
TRUNCATE TABLE [dbo].[RoutingAlternate]
GO
INSERT INTO [dbo].[RoutingAlternate]
		([PART_NO]
		,[CONTRACT]
		,[ROUTING_REVISION]
		,[ALTERNATIVE_NO]
		,[BOM_TYPE_DB]
		,[PHASE_IN_DATE]
		,[ALTERNATIVE_DESCRIPTION]
		,[MTK_MODE]
		,[ROWSTATE]
		,[ROUTING_TEMPLATE_ID]
		,[USERNAME_PROMOTED]
		,[TEMPL_COPY_REFERENCE]
		,[NOTE_TEXT])
SELECT [PART_NO]
		,[CONTRACT]
		,[ROUTING_REVISION]
		,[ALTERNATIVE_NO]
		,'M' [BOM_TYPE_DB]
		,'2010-01-01' [PHASE_IN_DATE]
		,CASE [ALTERNATIVE_NO]
		WHEN '*' THEN 'STANDARD'
		ELSE [ALTERNATIVE_NO] END [ALTERNATIVE_DESCRIPTION]
		,'*' [MTK_MODE]
		,'B' [ROWSTATE]
		,'' [ROUTING_TEMPLATE_ID]
		,'' [USERNAME_PROMOTED]
		,'' [TEMPL_COPY_REFERENCE]
		,'' [NOTE_TEXT]
FROM [dbo].[RoutingOperation]
GROUP BY [PART_NO] ,[CONTRACT],[ROUTING_REVISION],[ALTERNATIVE_NO]
GO	

